// Esquema de Cores
$corPrincipal : #fff;
$backgroundReader: #182C61;
$cordoBotao:  #44bd32;
$botaoHover:  #4cd137;
$backgroundBody:  #f5f6fa;
//Fontes 
$fontePrincipal: 'Robotto', sans-serif; 
// Breakpoints
$mobile: 767px;
$tablet: 1023px;
