@use '../config/cores.scss';
@use'../config/reset.scss';

header {
  background-color: cores.$backgroundReader;
  position: sticky;
  top: 0;
  left: 0;
   }
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  }