@use "../config/variaveis.scss";
@use '../config/reset.scss';

 .menu {
  display: flex;
    }
    .menu li {
      font-weight: bold;
      margin-left: 24px;
      }
      .menu li a {
        color: variaveis.$corPrincipal;
        text-decoration: none;
      }
